.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  padding: 6px;
  width: 100%;
  border-bottom: 1px solid black;
}

p{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

ul,
a{
  color: black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  list-style: none;
  margin-left: 60px;
  float: right;
}
